@import url('https://fonts.googleapis.com/css?family=Quicksand');
 * {
	 margin: 0;
	 padding: 0;
	 -webkit-box-sizing: border-box;
	 -moz-box-sizing: border-box;
	 box-sizing: border-box;
}
 body {
	 background: #2f3045 !important;
	 color: #eee !important;
	 font-family: 'Quicksand', sans-serif;
     overflow-x: hidden;
}
.text-white {
	color: white !important;
}
.text-strange {
	color: yellowgreen;
}
 #toggle {
	 position: fixed;
	 z-index: 3;
	 width: 2.8571428571em;
	 height: 2.8571428571em;
	 top: 0;
	 left: 0;
	 margin: 15px 0 0 15px;
	 cursor: pointer;
}
 #toggle span {
	 display: block;
	 position: absolute;
	 width: 100%;
	 height: 0.2em;
	 margin: 1.25em 0 0 0;
	 background: #eee;
	 -webkit-transition: 350ms ease all;
	 -moz-transition: 350ms ease all;
	 transition: 350ms ease all;
}
 #toggle span:before, #toggle span:after {
	 content: " ";
	 position: absolute;
	 width: 100%;
	 height: 0.2em;
	 background: #eee;
	 -webkit-transition: 350ms ease all;
	 -moz-transition: 350ms ease all;
	 transition: 350ms ease all;
}
 #toggle span:before {
	 margin: -1em 0 0 0;
}
 #toggle span:after {
	 margin: 1em 0 0 0;
}
 #toggle.open span {
	 background-color: transparent;
}
 #toggle.open span:before, #toggle.open span:after {
	 margin: 0;
	 background: #2f3045 !important;
}
 #toggle.open span:before {
	 -webkit-transform: rotate(135deg);
	 -moz-transform: rotate(135deg);
	 transform: rotate(135deg);
}
 #toggle.open span:after {
	 -webkit-transform: rotate(-135deg);
	 -moz-transform: rotate(-135deg);
	 transform: rotate(-135deg);
}
 #menu {
	 visibility: hidden;
	 opacity: 0;
	 position: fixed;
	 z-index: 2;
	 width: 25%;
	 height: 100%;
	 top: 0;
	 left: 0;
	 text-align: center;
	 background: #fff;
	 -webkit-transform: scale(1.5);
	 -moz-transform: scale(1.5);
	 transform: scale(1.5);
	 -webkit-transition: 350ms ease all;
	 -moz-transition: 350ms ease all;
	 transition: 350ms ease all;
}
 #menu.opened {
	 visibility: visible;
	 opacity: 1;
	 -webkit-transform: scale(1);
	 -moz-transform: scale(1);
	 transform: scale(1);
	 -webkit-transition: 350ms ease all;
	 -moz-transition: 350ms ease all;
	 transition: 350ms ease all;
}
 #menu span#title {
	 display: block;
	 line-height: 1em;
	 margin: 0 0 0.5em 0;
	 font-size: 5em;
	 color: #2f3045 !important;
}
 #menu ul {
	 list-style: none;
	 margin: 0 auto;
}
 #menu ul li {
	 display: block;
	 width: 90%;
	 height: 65px;
	 margin: 0 auto 0.5em auto;
}
 #menu ul li:after {
	 content: " ";
	 position: absolute;
	 width: 0%;
	 height: 65px;
	 margin: -65px 0 0 5%;
	 left: 0;
	 background: #2f3045 !important;
	 border-radius: 0.25em;
	 -webkit-transition: 350ms ease all;
	 -moz-transition: 350ms ease all;
	 transition: 350ms ease all;
}
 #menu ul li:hover:after {
	 width: 90%;
}
 #menu ul li a {
	 position: relative;
	 z-index: 4;
	 display: block;
	 width: 100%;
	 height: 65px;
	 line-height: 65px;
	 margin: 0 auto;
	 color: #2f3045;
	 text-decoration: none;
	 border: 1px solid #ddd;
	 border-radius: 0.2em;
	 -webkit-transition: 350ms ease all;
	 -moz-transition: 350ms ease all;
	 transition: 350ms ease all;
     font-weight: bolder;
}
 #menu ul li a:hover {
	 color: #eee;
	 border-color: #2f3045 !important;
}
 #menu ul li a span {
	 font-size: 1.6666666667em;
}
 #menu ul li a i {
	 position: absolute;
	 padding: 0 1.25em 0 0;
	 font-size: 2em;
}
 #wrapper {
	 width: 100%;
	 margin: 0 auto;
}
 #wrapper #logo {
	 display: block;
	 width: 100%;
	 /* margin: 40px auto; */
	 text-align: center;
}
 #wrapper #logo span {
	 font-size: 3.3333333333em;
}
 #wrapper section {
	 font-size: 1.1111111111em;
}

#content-header-image {
    width: 100vw;
    height: 55vh;
}

#center-navbar{
    border-radius: 0px !important;
    background-color: #2f3045 !important;
    border: none;
    height: 100px;
}

.bg-custom {
    background-color: #2f3045 !important;
    height: 200px;
}

.m-0 {
    margin: 0px !important;
}

.sub-block-title {
    color: antiquewhite !important;
    font-size: 20px;
}

.sub-block-content {
    color: aqua;
    font-size: 35px;
}

.sub-block-subcontent {
    color: aqua;
}

.block-content {
    color: #2f3045;
    font-size: 20px;
    line-height: 30px;
}

.bg-gray {
    background-color: #f5f4f6;
}

.help-title {
    color: orchid;
    font-weight: bold;
    font-size: larger;
}

.help-content {
    font-size: 15px;
}

.help-img {
    width: 100%;
    height: 150px;
}

#helper-wrapper {
    height: 1575px;
    background-image: url('../image/stage.png');
    margin: 41px auto auto;
    max-width: 1440px;
}

.concrete-rack {
    margin-top: 5px;
    font-family: pixelSC;
    font-size: 20px;
    line-height: 1.57;
    letter-spacing: .5px;
    color: #0b131a;
    max-width: 330px;
}
.concrete-rack h3 {
    margin-top: 0;
    font-size: 40px;
    color: #7d59a1;
    margin-bottom: 8px;
    line-height: 1;
    font-family: visitor;
    opacity: 1!important;
}

.concrete-rack p {
    margin-top: 0;
    opacity: .77;
    line-height: 1.57;
    letter-spacing: .5px;
}

.concrete-rack:nth-child(odd) {
    margin-left: 865px;
    padding-top: 0;
    text-align: left;
    color: #0b131a;
    line-height: 1.57;
    letter-spacing: .5px;
}

.concrete-rack:nth-child(2n) {
    margin-left: 200px;
    text-align: right;
    color: #0b131a;
    line-height: 1.57;
    letter-spacing: .5px;
}

.helper-stage {
    height: 314.8px;
}

.text-purple {
    color: orchid !important;
}

.helper-content {
    line-height: 40px !important;
}

#logininputcontainer {
    padding: 0px;
    margin: 0px;
    width: 100%;
    background-image: linear-gradient(140deg, #083169 0%, #19a1d5 50%, #a4e5f9 80%);
}

input[type='checkbox'] {
    box-sizing: border-box;
    padding: 0;
    width: 30px;
    height: 18px;
}


/*****************    faq    **********************/
#faq-area {
    height: 800px;
    background-color: #11111166;
    border-radius: 20px;
}

.faq-logo-section {
	height: 10vw !important;
}

.faq-image {
	width: 15vw;
	height: 10vw;
}